@model IEnumerable<RentalRides.Models.Segment>
<h1>Welcome to Rental Rides</h1>

<a asp-controller="Ride" asp-action="AddSegment"> Add a new Car Segment</a>

<ul>
    @foreach(var c in Model)
    {
        <li>
            <a asp-action="Ride" asp-action="Browse" asp-route-segment="@c.Name"> @c.Name </a>
        </li>
    }
</ul>

